<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>GROCERY LIST</h1>

    <div class="list-group">
      <a href="#" class="list-group-item disabled"></a>
      <a href="#" class="list-group-item"></a>
      <a href="#" class="list-group-item"></a>
      <a href="#" class="list-group-item"></a>
    </div>
    <ul>
      <% item.forEach (function(g){ %>
      <li>
        <%= g.item %> - <%= g.done ? 'done' : 'not done' %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
