<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TODOS</h1>

    <%= todos[0].todo %>

    <ul>
      <% todos.forEach((t) => { %>
        <li><%= t.todo %></li>
      <% }); %>
    </ul>

    <p><%= message %></p>
  </body>
</html>
