.heading {
  max-width: 700px;
}

body {
  background-color: #fbf7ed;
}
#movies-list {
  max-width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#navbar {
  background-color: #034d3f;
  color: white;
}

#button {
  background-color: #098060;
  color: white;
}

h5 {
  color: white;
}

#text {
  color: white;
}

#remove {
  background-color: #c53357;
  color: white;
}

.btnAnim222 {
  animation: scaler 1s linear 0s infinite alternate none running;
}
.btnAnim222:hover {
  animation-play-state: paused;
}

h6 {
  text-align: center;
}

.banner {
  background-color: #c0f1cf;
  color: #034d3f;
  width: 50%;
  margin-left: 25%;
  display: none;
}

/* .GeneratedMarquee {
  font-family: "Comic Sans MS";
  font-size: 2em;
  line-height: 1.3em;
  color: #330099;
  background-color: #ccffff;
  padding: 1.5em;
} */
