<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/flights">All flights</a>
      <a href="/flights/new">Add flight</a>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
