<div class="auth-form-container">
  <form class="auth-form" method="POST" action="<%= postUrl %>">
    <h1 class="h3 mb-3 font-weight-normal"><%= heading %></h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required=""
      autofocus=""
      name="email"
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required=""
      name="password"
    />
    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= btnText %></button>
  </form>
</div>
