<div id="navbar"
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">The Shoppies: Movie awards for entrepreneurs
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a id="text" class="p-2 " href="/">Search Movies</a>
    <a id="text" class="p-2 " href="/watchlist">My Movies</a>
    <% if (user) { %>
    <a id="button" class="btn" href="/logout">Logout</a>
  </nav>
  <% } else { %>
  </nav>  
  <a id="button" class="btn  mr-md-2" href="/login">Login</a>
  <a id="button" class="btn " href="/signup">Sign up</a>
  <% } %>
</div>
