<!DOCTYPE html>
<html>
  <head>
    <title>Movie Watchlist</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"">
      <h1 class="display-4">My Movie Watchlist</h1>


    </div>

    <%- include('partials/bootstrapjs') %>
  </body>
</html>
